body {
    font-family: Helvetica, Arial, sanserif;
    margin: 1em;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    height: 10ex;
    width: 100%;
    overflow: hidden;
    background: #dddddd;
    z-index: 100;
}

header h1 {
    float: left;
}

header .tools {
    display: flex;
    float: right;
    margin-top: 1ex;
}

header .tools a {
    display: inline-block;
    padding: 0 1em;
}

main {
    position: relative;
    top: 10ex;
    left: 0;
}

/**
 * Table style
 */

.hxl-table {
    overflow: auto;
    width: 100%;
}

.hxl-table thead th {
    text-align: left;
}

.hxl-table th, .hxl-table td {
    vertical-align: text-top;
}

.hxl-table .hashtags th {
    font-weight: normal;
    font-size: 80%;
    color: #aaaaaa;
}

.hxl-table tbody tr:nth-child(odd) {
    background-color: #eeffee;
}

.hxl-table th, .hxl-table td {
    padding: 1ex;
}

.hxl-table tbody tr.selected {
    background: #ffffaa;
}

.hxl-table .row-number {
    font-size: 80%;
    color: #aaaaaa;
    background: white;
}

/**
 * Cards style
 */

.hxl-cards {
    position: relative;
}

.hxl-card {
    display: none;
}

.hxl-card.current {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    overflow: auto;
    width: 100%;
}

.hxl-card .cardnav {
    margin-bottom: 4ex;
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.hxl-card .cardnav a, hxl-card .cardnav span {
    display: inline-block;
    font-size: 80%;
}

.hxl-card .cardnav a.inactive {
    color: #aaaaaa;
}

.hxl-card .cardnav a.active {
    color: blue;
}

.hxl-card .field {
    margin: 2ex 0;
}

hxl-card .field:nth-child(odd) {
    background-color: #eeffee;
}

.hxl-card .label {
    font-size: 80%;
}

.hxl-card .hashtag {
    color: #aaaaaa;
    font-family: Courier New, fixed;
    margin-left: 1ex;
}

@media screen and (min-device-width: 80em) {
    .hxl-card .field {
        padding: 1ex 0;
        margin: 0;
        clear: both;
        overflow: auto;
    }

    .hxl-card .field:nth-child(even) {
        background-color: #eeffee;
    }

    .hxl-card .label {
        display: inline-block;
        float: left;
        width: 20em;
    }

    .hxl-card .label .header {
        display: block;
        font-weight: bold;
    }

    .hxl-card .label .hashtag {
        display: block;
        margin-left: 0;
    }

    .hxl-card .value {
        display: inline-block;
        float: left;
        margin-left: 2em;
    }

}


